:root {
  --canvas-width: 600px;
  --left: 0;
  --top: 0;
  --group-radius: 300px;
}

body {
  font-family: 'Open Sans', sans-serif;
	background: rgb(191, 186, 157);
}

h1{
  color: black;
  font-family: 'Cardo', serif;
  text-align: center;
  font-size: 300%;
}

h1 span{
  font-size: 70%;
  font-weight: lighter;
  font-style: italic;
}

#canvas-group {
  position: relative;
  height: 600px;
  width: 600px;
  margin: 1rem auto;
  border: 2px solid rgb(89, 87, 66);
  border-radius: var(--group-radius);
  background: rgb(191, 186, 157);
}

#canvas-group * {
  position: absolute;
  left: var(--left);
  top: var(--top);
  width: var(--canvas-width);
  border-radius: 500px;
}

#main-canvas {
  z-index: 1;
}

#visualizer {
  z-index: 0;
}

#progress
{
  height: 0.5em;
  width: 40em;
  position: relative;
  margin: 1rem auto;
}

#audio-progress {
  position: absolute;
  left: 0;
  top: 0;
  appearance: none;
  margin: 0;
  width: 100%;
  height: 100%;
}

#audio-progress::-webkit-progress-value {
  background-color: #c5c2b0;
}

#audio-progress::-webkit-progress-bar {
  background-color: #3d392e;
}

#score{
  margin: 1rem auto;
  text-align: center;
}

section{
  margin-bottom: 1rem;
}

#playButton{
  font-size: 1.2rem;
  width: 6rem;
}

#Emil{
  display: none;
}

/* dat.GUI */
.dg li:not(.folder){
  background-color: rgb(214, 208, 182) !important;
  color: rgb(89, 87, 66);
  padding: 0 4px 0 0 !important;
  border-bottom: none !important;
}

.dg li.title{
  background-color: 	rgb(74, 70, 60) !important;
  color: 	rgb(214, 208, 184);
  padding: 0 4px 0 15px !important;
}

.dg.main .close-button.close-bottom{
  background-color:	rgb(74, 70, 60) !important;
  color: 	rgb(214, 208, 184);
}

.dg{
  font-family: 'Open Sans', sans-serif !important;
  font-size: 90% !important;
  text-shadow: none !important;
}

.dg .property-name{
  background-color: 	rgb(74, 70, 60);
  color: 	rgb(214, 208, 184);
  padding: 0 0 0 5px;
  width: 30% !important;
}

.dg .c{
  padding: 0 0 0 10px !important;
}

.dg .c .slider-fg{
  background:rgb(172, 167, 147) !important;
}

.dg .c select{
  font-family: 'Open Sans', sans-serif !important;
  font-size: 90% !important;
}

.dg .cr{
  border-left: none !important;
}

.dg .cr.number input[type=text]{
  color: 	rgb(214, 208, 184) !important;
  font-family: 'Open Sans', sans-serif !important;
}

.drop-down{
  position: absolute;
  top: 0;
  left: 15px;
  background-color:  rgb(214, 208, 182);
  width: 600px;
}

.drop-down h2{
  text-align: center;
  background-color: 	rgb(74, 70, 60);
  color: 	rgb(214, 208, 184);
  margin: 0;
  padding: 8px 0;
}

.drop-down ul li{
  margin: 4px 0;
}

.drop-down-tab{
  text-align: center;
  background-color: 	rgb(74, 70, 60);
  color: 	rgb(214, 208, 184);
  font-size: 90%;
}

.close{
  display: none;
}
